
<form action="/answer" data-turbo="false">
    <p for='question'>Ask your coach anything:</p>
    <div class='d-flex'>
      <input class='form-control' type="text" name="question" id='question'>
      <input class='btn btn-primary' type="submit" value="Ask!">
    </div>
</form>
